################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Movierama.Services/obj
/movierama.server/bin/Debug/netcoreapp3.1
/movierama.server/obj
/movierama.server/bin/Release/netcoreapp3.1
