@{
    ViewData["Title"] = "MovieRama";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Movie Title</h5>
        <p class="card-text">Movie Description - Movie Description - Movie Description - Movie Description - Movie Description - Movie Description - </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
