@model List<Movierama.Server.Models.MovieViewModel>
@{
    ViewData["Title"] = "MovieRama";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var movieViewModel in Model)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@movieViewModel.Title</h5>
            <p class="card-text">@movieViewModel.Description</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}